/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <interfaces/hid-trackball.dtsi>

&hid_trackball_interface {
    automouse-layer = <1>;
    automouse-layer-timeout-ms = <600>;
    scroll-layers = <2>;
    snipe-layers = <3>;
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &kp LGUI &mo 1 &kp SPACE   &kp RET &mo 2 &mo 3
                        >;
                };
                lower_layer {
                        bindings = <
   &tbs_mt 0 0    &mkp LCLK &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
   &tb_cyc_dpi    &mkp RCLK &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
   &tb_bootloader &trans    &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                            &trans &trans &trans   &trans &trans &trans
                        >;
                };

                raise_layer {
                        bindings = <
   &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                        &trans &trans &trans   &trans &trans &trans
                        >;
                };

                adjust_layer {
                        bindings = <
   &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                        &trans &trans &trans   &trans &trans &trans
                        >;
                };
        };
};
